<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../assets/css/about-1.css" />
    <link
      rel="stylesheet"
      href="../assets/fonts/fontawesome-free-6.5.2-web/css/all.min.css"
    />
    <title>Home</title>
  </head>

  <body>
    <div class="main">
      <header class="header">
        <div class="head-1">
          <div class="head-1-1">
            <div class="head-1-1-1">
              <img class="head-logo" src="../assets/images/logo.png" alt="" />
            </div>
            <div class="head-1-1-2">
              <div class="head-1-1-2-1">
                <div class="content-1-1-2-1">Về chúng tôi</div>
                <img
                  class="head-img"
                  src="../assets/images/chevron-down.png"
                  alt=""
                />
              </div>
              <div class="head-1-1-2-2">
                <div class="content-1-1-2-2">Dịch vụ</div>
                <img
                  class="head-img"
                  src="../assets/images/chevron-down.png"
                  alt=""
                />
              </div>
              <div class="head-1-1-2-3">
                <div class="content-1-1-2-3">Tin tức</div>
                <img
                  class="head-img"
                  src="../assets/images/chevron-down.png"
                  alt=""
                />
              </div>
              <div class="head-1-1-2-4">Quan hệ cổ đông</div>
              <div class="head-1-1-2-5">Tuyển dụng</div>
              <div class="head-1-1-2-6">Liên hệ</div>
            </div>
          </div>
          <div class="head-1-2">
            <div class="head-1-2-1">
              <img
                class="img-head-1-2"
                src="../assets/images/Frame 1000002556.png"
              />
            </div>
            <div class="head-1-2-2">
              <img class="img-head-1-2" src="../assets/images/globe.png" />
              <div class="content-head-1-2-2">VI</div>
            </div>
            <div class="head-1-2-3">
              <img class="img-head-1-2" src="../assets/images/phone.png" />
              <div class="content-head-1-2-3">098728 5533</div>
            </div>
          </div>
        </div>
        <div class="head-2">
          <div class="head-2-1">
            <img src="../assets/images/Vector16.png" />
            <div class="content-head-2-1">Về ROXKey</div>
          </div>
          <div class="head-2-2">Thông điệp CEO</div>
          <div class="head-2-3">Công ty thành viên</div>
          <div class="head-2-4">Trách nhiệm xã hội</div>
          <div class="head-2-5">Giải thưởng</div>
        </div>
        <div class="head-3">
          <div class="foot-head-3"></div>
        </div>
      </header>
      <div class="container">
        <div class="content-1">
          <div class="content-1-1">
            <div class="content-1-1-1">GIỚI THIỆU CHUNG</div>
            <div class="content-1-1-2">
              Công Ty Cổ Phần Thương Mại Dịch Vụ ROXKey
            </div>
            <div class="content-1-1-3">
              Là một mắt xích không thể thiếu trong chuỗi sản phẩm và giải pháp
              tích hợp trọn gói “all-in-one” của ROXGroup Vietnam với mong muốn
              mang đến cho khách hàng và đối tác một cuộc sống thuận ích hơn,
              ROXKey luôn nỗ lực cung cấp các giải pháp toàn diện và tối ưu
              nhất, nhằm bảo vệ lợi ích, và luôn mang tới sự hài lòng tối đa cho
              các khách hàng và đối tác.<br />
              Chúng tôi tin tưởng rằng với đội ngũ lãnh đạo xuất sắc cùng đội
              ngũ nhân sự chuyên nghiệp, chúng tôi luôn tự tin vào việc thực
              hiện được​ các sản phẩm dịch vụ chất lượng và cạnh tranh nhất.
            </div>
          </div>
          <div class="content-1-2">
            <div class="content-1-2-1">
              <div class="content-1-2-1-1">4</div>
              <div class="content-1-2-1-2">Tổng số công ty thành viên.</div>
            </div>
            <div class="content-1-2-1">
              <div class="content-1-2-1-1">16k</div>
              <div class="content-1-2-1-2">Số lượng Cán bộ nhân viên</div>
            </div>
            <div class="content-1-2-1">
              <div class="content-1-2-1-1">100</div>
              <div class="content-1-2-1-2">Tổng số khách hàng</div>
            </div>
            <div class="content-1-2-1">
              <div class="content-1-2-1-1">200</div>
              <div class="content-1-2-1-2">
                Số lượng dự án đang cung cấp dịch vụ
              </div>
            </div>
          </div>
        </div>

        <div class="content-2">
          <div class="content-2-1">
            <div class="content-2-1-1">
              <div class="content-2-1-1-1">
                <img src="../assets/images/Groupp.png" />
              </div>
              <div class="content-2-1-1-2">
                <div class="content-2-1-1-2-1">Sứ mệnh</div>
                <div class="content-2-1-1-2-2">
                  Vì một cuộc sống thuận ích hơn
                </div>
              </div>
            </div>
            <div class="content-2-1-2">
              <div class="content-2-1-2-1">
                <img src="../assets/images/Grouppp.png" />
              </div>
              <div class="content-2-1-2-2">
                <div class="content-2-1-2-2-1">Tầm nhìn</div>
                <div class="content-2-1-2-2-2">
                  ROXKey đặt mục tiêu trở thành một trong những Tập đoàn đa
                  ngành cung cấp các dịch vụ trọn gói tốt nhất Vi​ệt Nam.
                </div>
              </div>
            </div>
          </div>
          <div class="content-2-2"></div>
        </div>
        <div class="content-3">
          <div class="content-3-1">Giá trị cốt lõi</div>
          <div class="content-3-2">
            <div class="content-3-2-1">
              <div class="content-3-2-1-1">01</div>
              <div class="content-3-2-1-2">
                <div class="content-3-2-1-2-1">Trách nhiệm</div>
                <div class="content-3-2-1-2-2">
                  Để đạt được tốt mục tiêu kết quả công việc, mọi cán bộ nhân
                  viên của TNS Holdings luôn tích cực chủ động phối hợp với đồng
                  nghiệp cũng như với các đối tác và khách hàng.
                </div>
              </div>
            </div>
            <div class="content-3-2-1">
              <div class="content-3-2-1-1">02</div>
              <div class="content-3-2-1-2">
                <div class="content-3-2-1-2-1">Chính trực</div>
                <div class="content-3-2-1-2-2">
                  Để mang lại trải nghiệm dịch vụ tốt nhất cho khách hàng, TNS
                  Holdings và các công ty thành viên luôn đổi mới tư duy, áp
                  dụng và cập nhật công nghệ mới vào công việc hàng ngày.
                </div>
              </div>
            </div>
            <div class="content-3-2-1">
              <div class="content-3-2-1-1">03</div>
              <div class="content-3-2-1-2">
                <div class="content-3-2-1-2-1">Tốc độ</div>
                <div class="content-3-2-1-2-2">
                  Làm việc tốc độ, nắm bắt thời cơ luôn là phương châm cho tất
                  cả cán bộ nhân viên TNS Holdings nhằm tối ưu hóa thời gian xử
                  lý công việc và tạo sự ra thuận tiện nhất cho khách hàng.
                </div>
              </div>
            </div>
            <div class="content-3-2-1">
              <div class="content-3-2-1-1">04</div>
              <div class="content-3-2-1-2">
                <div class="content-3-2-1-2-1">Sáng tạo</div>
                <div class="content-3-2-1-2-2">
                  Vestibulum eu quam nec neque pellentesque efficitur id eget
                  nisl. Proin porta est convallis lacus blandit pretium sed non
                  enim. Maecenas lacinia non orci at aliquam.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-4">
          <div class="content-4-1">
            <div class="content-4-1-1">16</div>
            <div class="content-4-1-2">
              <div class="content-4-1-2-1">Năm thành lập và phát triển</div>
              <div class="content-4-1-2-2">
                Với mục tiêu trở thành công ty thương hiệu quốc gia
              </div>
            </div>
          </div>
          <div class="content-4-2">
            <div class="content-4-2-1">
              <div class="content-4-2-1-1">NĂM THÀNH LẬP</div>
              <div class="content-4-2-1-2">
                <div class="content-4-2-1-2-1">
                  <img src="../assets/images/Navigation - Button.png" />
                </div>
                <div class="content-4-2-1-2-1">
                  <img src="../assets/images/Navigation - Button2.png" />
                </div>
              </div>
            </div>
            <div class="content-4-2-2">
              <div class="content-4-2-2-1">
                <div class="content-4-2-2-1-1">
                  <div class="content-4-2-2-1-1-1">
                    <div class="year">2007</div>
                    <div class="year-content" style="margin-top: 20px">
                      Thành lập Công ty cổ phần Dịch vụ Bảo vệ Nhất Việt
                    </div>
                  </div>
                  <div class="content-4-2-2-1-1-1">
                    <div class="year">2012</div>
                    <div class="year-content">
                      <ul>
                        <li>Thành lập TN Property Management (TNPM)</li>
                        <li>
                          Thành lập công ty Cổ phần Quản trị nguồn nhân lực
                          TNTalent
                        </li>
                        <li>
                          Thành lập Công ty Cổ phần Dịch vụ công nghệ TNTech
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="content-4-2-2-1-2"></div>
              </div>
              <div class="content-4-2-2-2">
                <div class="content-4-2-2-2-1">
                  <div class="content-4-2-2-2-1-1">
                    <div class="item-1">
                      <div class="year">2014</div>
                      <div class="year-content">
                        Thành lập công ty Cổ phần Thương mại dịch vụ TNS
                        Holdings
                      </div>
                    </div>
                    <div class="item-1">
                      <div class="year">2015</div>
                      <div class="year-content">
                        Thành lập công ty Cổ phần dịch vụ Vệ sinh công nghiệp
                        C-ONE
                      </div>
                    </div>
                  </div>
                  <div class="content-4-2-2-2-1-2"></div>
                </div>
                <div class="content-4-2-2-2-2">
                  <div class="content-4-2-2-2-2-1">
                    <div class="year">2019</div>
                    <div class="year-content">
                      TNS Holdings chính thức lên sàn HOSE với mã chứng khoán
                      TN1
                    </div>
                  </div>
                  <div class="content-4-2-2-2-2-2">
                    <div class="year">2020</div>
                    <div class="year-content">
                      TNS Holdings phát hành cổ phiếu riêng lẻ hoán đổi 99% cổ
                      phần CT CP TNTech & CT CP Quản trị Nguồn nhân lực TNTalent
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-1">
          <div><img src="../assets/images/Layer_1-2.png" alt="" /></div>
          <div class="items">
            <img
              class="i1"
              src="https://s3-alpha-sig.figma.com/img/ccb1/e7f7/8dad9b3b1b6e80293fdfaad1e7df9823?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GMCcB7XAOygYTXkyi811-QVbwEPsmN9QYjR72KJNR4E5oESAyQ1sP88JVciaqoDD96xMRr8I-CdXgdQuP3cf6hTpTpFZLtIwnpt~wwOdZ7kdEEdqe4GV9lH4E8rLQWdUUeB1QXMiqffVndvSFCMWwvIyJq0nIwyy8RtQu3Q0FveSgHEO7JY-hTJz6vZnKfo2W8acF22rXFaxqWcWcNRrgIOSEGlvOjUGeKYawqyVk~CbOqRszux3~BuSpgMkiJ8CAZvv2QvqNRi0QxaDqJ06zXRQK1PmK3R8c2GzxcKlAYXO4aPlJw4F3Wq~rlr8JEGD-JqzqXnQXTFNQdAEPsLBEw__"
            />
          </div>
          <div class="items">
            <img class="i2" src="../assets/images/TNL.png" />
          </div>
          <div class="items">
            <img class="i3" src="../assets/images/TNTalent.png" />
          </div>
          <div class="items">
            <img class="i4" src="../assets/images/TNTalent1.png" />
          </div>
          <div><img src="../assets/images/Layer_1-2-1.png" alt="" /></div>
        </div>
        <div class="footer-2">
          <div class="footer-2-1">
            <div class="footer-2-1-1">
              <img src="../assets/images/logo.png" />
            </div>
            <div class="footer-2-1-2">
              <div class="footer-2-1-2-1">
                <div class="icon">
                  <img src="../assets/images/bxs_phone-call.png" />
                </div>
                <div class="text">
                  024 7307 3099 (Ban Kinh doanh & MKT: 7450) <br />Hotline:
                  098728 5533
                </div>
              </div>
              <div class="footer-2-1-2-1">
                <div class="icon">
                  <img src="../assets/images/ic_sharp-email.png" />
                </div>
                <div class="text">marketing@tnsholdings.com.vn</div>
              </div>
              <div class="footer-2-1-2-1">
                <div class="icon">
                  <img src="../assets/images/carbon_location-filled.png" />
                </div>
                <div class="text">
                  Tầng 25, TNR Tower, 54A Nguyễn Chí Thanh, P.Láng Thượng,
                  Q.Đống Đa, Hà Nội
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2-2">
            <div class="footer-2-2-1">
              <div class="footer-items-1">Công ty</div>
              <div class="footer-items">Trang chủ</div>
              <div class="footer-items">Về chúng tôi</div>
              <div class="footer-items">Tin tức</div>
              <div class="footer-items">Tuyển dụng</div>
              <div class="footer-items">Chính sách</div>
            </div>
            <div class="footer-2-2-2">
              <div class="footer-items-1">Dịch vụ</div>
              <div class="footer-items">Quản lý vận hành</div>
              <div class="footer-items">Công nghệ</div>
              <div class="footer-items">Quản trị nguồn nhân lực</div>
              <div class="footer-items">Cho thuê bất động sản</div>
            </div>
            <div class="footer-2-2-3">
              <div class="footer-items-1">Theo dõi chúng tôi</div>
              <div class="footer-items-2">
                <div class="footer-logo">
                  <img src="../assets/images/Facebook.png" />
                </div>
                <div class="footer-logo">
                  <img src="../assets/images/Vector.png" />
                </div>
                <div class="footer-logo">
                  <img src="../assets/images/Vector1.png" />
                </div>
                <div class="footer-logo">
                  <img src="../assets/images/Vector2.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
