<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../assets/css/home-1.css" />
    <link
      rel="stylesheet"
      href="../assets/fonts/fontawesome-free-6.5.2-web/css/all.min.css"
    />
    <title>Home</title>
  </head>

  <body>
    <div class="main">
      <header class="header">
        <div class="head-1">
          <div class="head-1-1">
            <div class="head-1-1-1">
              <img
                class="head-logo"
                src="../assets/images/Frame 1000003009.png"
                alt=""
              />
            </div>
            <div class="head-1-1-2">
              <div class="head-1-1-2-1">
                <div class="content-1-1-2-1">Về chúng tôi</div>
                <img
                  class="head-img"
                  src="../assets/images/Vector9.png"
                  alt=""
                />
              </div>
              <div class="head-1-1-2-2">
                <div class="content-1-1-2-2">Dịch vụ</div>
                <img
                  class="head-img"
                  src="../assets/images/Vector9.png"
                  alt=""
                />
              </div>
              <div class="head-1-1-2-3">
                <div class="content-1-1-2-3">Tin tức</div>
                <img
                  class="head-img"
                  src="../assets/images/Vector9.png"
                  alt=""
                />
              </div>
              <div class="head-1-1-2-4">Quan hệ cổ đông</div>
              <div class="head-1-1-2-5">Tuyển dụng</div>
              <div class="head-1-1-2-6">Liên hệ</div>
            </div>
          </div>
          <div class="head-1-2">
            <div class="head-1-2-1">
              <img class="img-head-1-2" src="../assets/images/find.png" />
            </div>
            <div class="head-1-2-2">
              <img class="img-head-1-2" src="../assets/images/Vector10.png" />
              <div class="content-head-1-2-2">VI</div>
            </div>
            <div class="head-1-2-3">
              <img class="img-head-1-2" src="../assets/images/Vector11.png" />
              <div class="content-head-1-2-3">098728 5533</div>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="content-2">
          <div class="content-2-1">
            <div class="content-2-1-1">VỀ CHÚNG TÔI</div>
            <div class="content-2-1-2">
              Công Ty Cổ Phần Thương Mại Dịch Vụ ROXKey
            </div>
            <div class="content-2-1-3">
              Công Ty Cổ Phần Thương Mại Dịch Vụ ROXKey là một công ty đa ngành
              hoạt động trong các lĩnh vực: Quản lý vận hành Bất động sản
              (TNPM), Công nghệ thông tin (TNTech), Quản trị nguồn nhân lực
              (TNTalent), Quản lý dự án (MANPRO).
            </div>
            <div class="content-2-1-4">
              <div class="btn-1">Xem thêm</div>
              <img src="../assets/images/Vector7.png" alt="" />
            </div>
          </div>
        </div>
        <div class="content-3">
          <div class="content-3-1">
            <div class="content-3-1-1">DỊCH VỤ CUNG CẤP</div>
            <div class="content-3-1-2">
              Dịch vụ xuất sắc, chuyên nghiệp, tận tâm và luôn lấy khách hàng
              làm trung tâm.
            </div>
            <div class="content-3-1-3">
              Chúng tôi tự hào là đơn vị cung cấp dịch vụ chuyên nghiệp, lấy
              quản lý vận hành Bất động sản làm trung tâm, tạo ra hệ sinh thái
              toàn diện với giá trị cốt lõi là nguồn nhân lực.
            </div>
            <div class="content-3-1-4">
              <div class="btn-1">Xem thêm</div>
              <img
                class="content-3-1-4-logo"
                src="../assets/images/Vector7.png"
                alt=""
              />
            </div>
          </div>
          <div class="content-3-2">
            <div class="content-3-2-1">
              <div class="content-3-2-1-1">
                <div class="img-1">
                  <div class="img-content-1"></div>
                  <p class="title">QUẢN LÝ VẬN HÀNH BẤT ĐỘNG SẢN</p>
                </div>
              </div>
              <div class="content-3-2-1-2">
                <div class="img-content-2"></div>
                <p class="title">QUẢN TRỊ NGUỒN NHÂN LỰC</p>
              </div>
            </div>
            <div class="content-3-2-1">
              <div class="content-3-2-1-2">
                <div class="img-content-3"></div>
                <p class="title">CÔNG NGHỆ</p>
              </div>
              <div class="content-3-2-1-1">
                <div class="img-content-4"></div>
                <p class="title">CHO THUÊ BẤT ĐỘNG SẢN</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-4">
          <div class="content-4-1">
            <p class="title-4-1">Tin tức nổi bật</p>
          </div>
          <div class="content-4-2">
            <div class="content-4-2-1">
              <div class="content-4-2-1-1"></div>
              <div class="content-4-2-1-2">
                <div class="content-4-2-1-2-1">
                  <div class="content-4-2-1-2-1-1">ROXKey</div>
                  <div class="content-4-2-1-2-1-2">28/08/2023</div>
                </div>
                <div class="content-4-2-1-2-2">
                  <div class="content-4-2-1-2-2-1">
                    TNS Holdings chung tay cải tạo điểm trường tại Lạng Sơn
                  </div>
                  <div class="content-4-2-1-2-2-2">
                    Sau nhiều ngày triển khai, công trình cải tạo điểm trường
                    Làng Lầu thuộc trường mầm non xã Nhất Tiến (Bắc Sơn, Lạng
                    Sơn) đã kịp hoàn thành, sẵn sàng chào đón các em học sinh
                    bước vào năm học mới.
                  </div>
                </div>
                <div class="content-4-2-1-2-3">
                  <div class="btn-2">Xem thêm</div>
                  <img src="../assets/images/Vector5.png" alt="" />
                </div>
              </div>
            </div>
            <div class="content-4-2-2">
              <div class="content-4-2-2-1">
                <div class="content-4-2-2-1-1a"></div>
                <div class="content-4-2-2-1-2">
                  <div class="content-4-2-2-1-2-1">
                    Vận hành bằng trải nghiệm, “chạm" cảm xúc cư dân
                  </div>
                  <div class="content-4-2-2-1-2-2">
                    <div class="foot-1">TNPM</div>
                    <div class="foot-2">28/08/2023</div>
                  </div>
                </div>
              </div>
              <div class="content-4-2-2-1">
                <div class="content-4-2-2-1-1b"></div>
                <div class="content-4-2-2-1-2">
                  <div class="content-4-2-2-1-2-1">
                    TNTech thực hiện 1996 yêu cầu hỗ trợ CNTT cho TNG Holdings
                    Vietnam trong tháng 8/2023
                  </div>
                  <div class="content-4-2-2-1-2-2">
                    <div class="foot-1">TNTech</div>
                    <div class="foot-2">5/9/2023</div>
                  </div>
                </div>
              </div>
              <div class="content-4-2-2-1">
                <div class="content-4-2-2-1-1c"></div>
                <div class="content-4-2-2-1-2">
                  <div class="content-4-2-2-1-2-1">
                    Khóa học "Tư duy dịch vụ và giải quyết vấn đề" dành cho CBNV
                    TNTech
                  </div>
                  <div class="content-4-2-2-1-2-2">
                    <div class="foot-1">TNTalent</div>
                    <div class="foot-2">01/12/2023</div>
                  </div>
                </div>
              </div>
              <div class="content-4-2-2-1">
                <div class="content-4-2-2-1-1d"></div>
                <div class="content-4-2-2-1-2">
                  <div class="content-4-2-2-1-2-1">
                    Top 5 đơn vị cho thuê văn phòng hàng đầu Việt Nam
                  </div>
                  <div class="content-4-2-2-1-2-2">
                    <div class="foot-1">TNL</div>
                    <div class="foot-2">07/08/2023</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-4-3">
            <div class="btn-4-3">Xem thêm tin tức</div>
            <img src="../assets/images/Vector7.png" alt="" />
          </div>
        </div>
        <div class="content-5">
          <div class="content-5-1">
            <div class="content-5-1-1">
              <div class="content-5-1-1-1">Lắng nghe chất lượng dịch vụ</div>
              <div class="content-5-1-1-2">
                "Lắng nghe - Thấu hiểu - Cải tiến" là nguyên tắc mà TNS Holdings
                và các Công ty thành viên đang nâng cao chất lượng dịch vụ mỗi
                ngày nhằm cung cấp dịch vụ xuất sắc nhất tới khách hàng.
              </div>
              <div class="content-5-1-1-3">
                <div class="btn-5-1-1-3">Action button</div>
                <img
                  class="content-5-1-1-3-logo"
                  src="../assets/images/Vector4.png"
                />
              </div>
            </div>
          </div>
          <div class="content-5-2">
            <div class="content-5-2-1">
              <div class="content-5-2-1-logo">
                <img src="../assets/images/Dot.png" />
              </div>
              <div class="content-5-2-1-logo">
                <img src="../assets/images/Dot2.png" />
              </div>
              <div class="content-5-2-1-logo">
                <img src="../assets/images/Dot2.png" />
              </div>
              <div class="content-5-2-1-logo">
                <img src="../assets/images/Dot2.png" />
              </div>
              <div class="content-5-2-1-logo">
                <img src="../assets/images/Dot2.png" />
              </div>
            </div>
            <div class="content-5-2-2">
              <div class="content-5-2-2-logo">
                <img src="../assets/images/Navigation - Button.png" />
              </div>
              <div class="content-5-2-2-logo">
                <img src="../assets/images/Navigation - Button2.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-1">
          <div><img src="../assets/images/Layer_1-2.png" alt="" /></div>
          <div class="items">
            <img
              class="i1"
              src="https://s3-alpha-sig.figma.com/img/ccb1/e7f7/8dad9b3b1b6e80293fdfaad1e7df9823?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GMCcB7XAOygYTXkyi811-QVbwEPsmN9QYjR72KJNR4E5oESAyQ1sP88JVciaqoDD96xMRr8I-CdXgdQuP3cf6hTpTpFZLtIwnpt~wwOdZ7kdEEdqe4GV9lH4E8rLQWdUUeB1QXMiqffVndvSFCMWwvIyJq0nIwyy8RtQu3Q0FveSgHEO7JY-hTJz6vZnKfo2W8acF22rXFaxqWcWcNRrgIOSEGlvOjUGeKYawqyVk~CbOqRszux3~BuSpgMkiJ8CAZvv2QvqNRi0QxaDqJ06zXRQK1PmK3R8c2GzxcKlAYXO4aPlJw4F3Wq~rlr8JEGD-JqzqXnQXTFNQdAEPsLBEw__"
            />
          </div>
          <div class="items">
            <img class="i2" src="../assets/images/TNL.png" />
          </div>
          <div class="items">
            <img class="i3" src="../assets/images/TNTalent.png" />
          </div>
          <div class="items">
            <img class="i4" src="../assets/images/TNTalent1.png" />
          </div>
          <div><img src="../assets/images/Layer_1-2-1.png" alt="" /></div>
        </div>
        <div class="footer-2">
          <div class="footer-2-1">
            <div class="footer-2-1-1">
              <img src="../assets/images/logo.png" />
            </div>
            <div class="footer-2-1-2">
              <div class="footer-2-1-2-1">
                <div class="icon">
                  <img src="../assets/images/bxs_phone-call.png" />
                </div>
                <div class="text">
                  024 7307 3099 (Ban Kinh doanh & MKT: 7450) <br />Hotline:
                  098728 5533
                </div>
              </div>
              <div class="footer-2-1-2-1">
                <div class="icon">
                  <img src="../assets/images/ic_sharp-email.png" />
                </div>
                <div class="text">marketing@tnsholdings.com.vn</div>
              </div>
              <div class="footer-2-1-2-1">
                <div class="icon">
                  <img src="../assets/images/carbon_location-filled.png" />
                </div>
                <div class="text">
                  Tầng 25, TNR Tower, 54A Nguyễn Chí Thanh, P.Láng Thượng,
                  Q.Đống Đa, Hà Nội
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2-2">
            <div class="footer-2-2-1">
              <div class="footer-items-1">Công ty</div>
              <div class="footer-items">Trang chủ</div>
              <div class="footer-items">Về chúng tôi</div>
              <div class="footer-items">Tin tức</div>
              <div class="footer-items">Tuyển dụng</div>
              <div class="footer-items">Chính sách</div>
            </div>
            <div class="footer-2-2-2">
              <div class="footer-items-1">Dịch vụ</div>
              <div class="footer-items">Quản lý vận hành</div>
              <div class="footer-items">Công nghệ</div>
              <div class="footer-items">Quản trị nguồn nhân lực</div>
              <div class="footer-items">Cho thuê bất động sản</div>
            </div>
            <div class="footer-2-2-3">
              <div class="footer-items-1">Theo dõi chúng tôi</div>
              <div class="footer-items-2">
                <div class="footer-logo">
                  <img src="../assets/images/Facebook.png" />
                </div>
                <div class="footer-logo">
                  <img src="../assets/images/Vector.png" />
                </div>
                <div class="footer-logo">
                  <img src="../assets/images/Vector1.png" />
                </div>
                <div class="footer-logo">
                  <img src="../assets/images/Vector2.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
