<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link
      rel="stylesheet"
      href="../assets/fonts/fontawesome-free-6.5.2-web/css/all.min.css"
    />
    <title>Home</title>
  </head>

  <body>
    <div class="main">
      <header class="header">
        <div class="grid">
          <nav class="navbar">
            <ul class="navbar-list-1">
              <li class="navbar-items">ROXKEY</li>
              <li class="navbar-items">Về chúng tôi</li>
              <li class="navbar-items">Dịch vụ</li>
              <li class="navbar-items">Tin tức</li>
              <li class="navbar-items">Quan hệ cổ đông</li>
              <li class="navbar-items">Tuyển dụng</li>
              <li class="navbar-items">Liên hệ</li>
            </ul>
            <ul class="navbar-list-2">
              <li class="navbar-items">
                <i class="fa-solid fa-magnifying-glass"></i>
              </li>
              <li class="navbar-items"><i class="fa-solid fa-globe"></i> VI</li>
              <li class="navbar-items">
                <i class="fa-solid fa-phone"></i> 098728 5533
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container">
        <div class="content-1">
          <video
            src="../assets/videos/-235a-4e4e-b4ee-63e0734d14ff.mp4"
            type="video/mp4"
          ></video>
        </div>
        <div class="content-2">
          <div class="content-2-1">
            <div class="content-2-1-1">VỀ CHÚNG TÔI</div>
            <div class="content-2-1-2">
              Công Ty Cổ Phần Thương Mại Dịch Vụ ROXKey
            </div>
            <div class="content-2-1-3">
              Công Ty Cổ Phần Thương Mại Dịch Vụ ROXKey là một công ty đa ngành
              hoạt động trong các lĩnh vực: Quản lý vận hành Bất động sản
              (TNPM), Công nghệ thông tin (TNTech), Quản trị nguồn nhân lực
              (TNTalent), Quản lý dự án (MANPRO).
            </div>
            <div class="content-2-1-4">
              <p class="btn-1">Xem thêm</p>
            </div>
          </div>
        </div>
        <div class="content-3">
          <div class="content-3-1">
            <div class="content-3-1-1">DỊCH VỤ CUNG CẤP</div>
            <div class="content-3-1-2">
              Dịch vụ xuất sắc, chuyên nghiệp, tận tâm và luôn lấy khách hàng
              làm trung tâm.
            </div>
            <div class="content-3-1-3">
              Chúng tôi tự hào là đơn vị cung cấp dịch vụ chuyên nghiệp, lấy
              quản lý vận hành Bất động sản làm trung tâm, tạo ra hệ sinh thái
              toàn diện với giá trị cốt lõi là nguồn nhân lực.
            </div>
            <div class="content-3-1-4">
              <p class="btn-1">Xem thêm</p>
            </div>
          </div>
          <div class="content-3-2">
            <div class="content-3-2-1">
              <div class="content-3-2-1-1">
                <div class="img-1">
                  <div class="img-content-1"></div>
                  <p class="title">QUẢN LÝ VẬN HÀNH BẤT ĐỘNG SẢN</p>
                </div>
              </div>
              <div class="content-3-2-1-2">
                <div class="img-content-2"></div>
                <p class="title">QUẢN TRỊ NGUỒN NHÂN LỰC</p>
              </div>
            </div>
            <div class="content-3-2-1">
              <div class="content-3-2-1-2">
                <div class="img-content-3"></div>
                <p class="title">CÔNG NGHỆ</p>
              </div>
              <div class="content-3-2-1-1">
                <div class="img-content-4"></div>
                <p class="title">CHO THUÊ BẤT ĐỘNG SẢN</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-4">
          <div class="content-4-1"><p class"title-4-1">Tin tức nổi bật</p></div>
          <div class="content-4-2">
            <div class="content-4-2-1">
                <div class="content-4-2-1-1"></div>
                <div class="content-4-2-1-2">
                    <div class="content-4-2-1-2-1">
                        <div class="content-4-2-1-2-1-1">ROXKey</div>
                        <div class="content-4-2-1-2-1-2">28/08/2023</div>
                    </div>
                    <div class="content-4-2-1-2-2">
                        <div class="content-4-2-1-2-2-1">TNS Holdings chung tay cải tạo điểm trường tại Lạng Sơn</div>
                        <div class="content-4-2-1-2-2-2">Sau nhiều ngày triển khai, công trình cải tạo điểm trường Làng Lầu thuộc trường mầm non xã Nhất Tiến (Bắc Sơn, Lạng Sơn) đã kịp hoàn thành, sẵn sàng chào đón các em học sinh bước vào năm học mới.</div>
                    </div>
                    <div class="content-4-2-1-2-3"><p class="btn-2">Xem thêm ></p></div>
                </div>
            </div>
            <div class="content-4-2-2">
                <div class="content-4-2-2-1">
                    <div class="content-4-2-2-1-1a"></div>
                    <div class="content-4-2-2-1-2">
                        <div class="content-4-2-2-1-2-1">Vận hành bằng trải nghiệm, “chạm" cảm xúc cư dân</div>
                        <div class="content-4-2-2-1-2-2">
                            <div class="foot-1">TNPM</div>
                            <div class="foot-2">28/08/2023</div>
                        </div>
                    </div>
                </div>
                <div class="content-4-2-2-1">
                    <div class="content-4-2-2-1-1b"></div>
                    <div class="content-4-2-2-1-2">
                        <div class="content-4-2-2-1-2-1">TNTech thực hiện 1996 yêu cầu hỗ trợ CNTT cho TNG Holdings Vietnam trong tháng 8/2023</div>
                        <div class="content-4-2-2-1-2-2">
                            <div class="foot-1">TNTech</div>
                            <div class="foot-2">5/9/2023</div>
                        </div>
                    </div>
                </div>
                <div class="content-4-2-2-1">
                    <div class="content-4-2-2-1-1c"></div>
                    <div class="content-4-2-2-1-2">
                        <div class="content-4-2-2-1-2-1">Khóa học "Tư duy dịch vụ và giải quyết vấn đề" dành cho CBNV TNTech</div>
                        <div class="content-4-2-2-1-2-2">
                            <div class="foot-1">TNTalent</div>
                            <div class="foot-2">01/12/2023</div>
                        </div>
                    </div>
                </div>
                <div class="content-4-2-2-1">
                    <div class="content-4-2-2-1-1d"></div>
                    <div class="content-4-2-2-1-2">
                        <div class="content-4-2-2-1-2-1">Top 5 đơn vị cho thuê văn phòng hàng đầu Việt Nam
                        </div>
                        <div class="content-4-2-2-1-2-2">
                            <div class="foot-1">TNL</div>
                            <div class="foot-2">07/08/2023</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="content-4-3">Xem thêm tin tức ></div>
        </div>
        <div class="content-5">
            <div class="content-5-1">
                <div class="content-5-1-1">
                    <div class="content-5-1-1-1">Lắng nghe chất lượng dịch vụ</div>
                    <div class="content-5-1-1-2">"Lắng nghe - Thấu hiểu - Cải tiến" là nguyên tắc mà TNS Holdings và các Công ty thành viên đang nâng cao chất  lượng dịch vụ mỗi ngày nhằm cung cấp dịch vụ xuất sắc nhất tới khách hàng.</div>
                    <div class="content-5-1-1-3">Action button ></div>
                </div>
            </div>
            <div class="content-5-2">
                <div class="content-5-2-1"><i class="fa-solid fa-circle"></i> <i class="fa-regular fa-circle"> </i> <i class="fa-regular fa-circle"></i> <i class="fa-regular fa-circle"></i> <i class="fa-regular fa-circle"></i>
                </div>
                <div class="content-5-2-2"><i class="fa-solid fa-chevron-left"></i> <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-1">
            <div><i class="fa-solid fa-chevron-left"></i> </div>
            <div class="items"><img class="i1" src="https://s3-alpha-sig.figma.com/img/ccb1/e7f7/8dad9b3b1b6e80293fdfaad1e7df9823?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GMCcB7XAOygYTXkyi811-QVbwEPsmN9QYjR72KJNR4E5oESAyQ1sP88JVciaqoDD96xMRr8I-CdXgdQuP3cf6hTpTpFZLtIwnpt~wwOdZ7kdEEdqe4GV9lH4E8rLQWdUUeB1QXMiqffVndvSFCMWwvIyJq0nIwyy8RtQu3Q0FveSgHEO7JY-hTJz6vZnKfo2W8acF22rXFaxqWcWcNRrgIOSEGlvOjUGeKYawqyVk~CbOqRszux3~BuSpgMkiJ8CAZvv2QvqNRi0QxaDqJ06zXRQK1PmK3R8c2GzxcKlAYXO4aPlJw4F3Wq~rlr8JEGD-JqzqXnQXTFNQdAEPsLBEw__"/></div>
            <div class="items"><img class="i2" src="https://s3-alpha-sig.figma.com/img/bf15/1dd3/495ef57dbe1ea8447f2f3189ccba73dd?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ntpwSswYQE~S95U2zYpAngxn9BUJhH25AWz8o5F9N1CaUPpU76mwyeYMRgeKzx5zc5JSn9jFqj17kVfYrxVzDIh22dTCtyHbhVLWQZtNNZKHoOzuZenWd-lUPW5dIaRos76~pMsWdVzhZiDva57nSWyVj-j~vzpWbgJS78kR2Wp-6xm8gujjI9FgxQ7bEGCL2ckGroKvbsMRWpKu~ESj5~G7QLYskMpOOJdEcw4NL7egYrpeh2HaRfZe8FlNPyZhsERJplWHS8DMM3UfnF47ycmIMs2bq8EaI6bMShrtB6LeN2bAG-BFiip8JvT3fM4us8j2pwjKfVp7MXZmPi6fQQ__"/></div>
            <div class="items"><img class="i3" src="https://s3-alpha-sig.figma.com/img/428f/7c30/6f5fe34b099c7dd9675ee12ccc610d1a?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XgN4DmYb5GBvUmJ94X413kNJETggToPnRgyISx~0k8W3aNncHynNr2rA7BSG85C~59fS-22snqPpwyvjZnJwDj85qFsks3YB266P9oL1hSOzB0OlrBnjxm0EibE1lH13~imIUa3Vn4OoKzSHT0l4eJvv2qh1bL91OlrUIeM7IGTyg3d~gtvTuZcI3d3mDWMkJaZvs1GbEBq4SZ7IscXtJeEdEL1J4Qf9UkxU~okVqS3s3LbunXcSorPfVxz0N2SJUeorvoTqcD5Zii4-jb4DsZji3C8oBV-F7W7GrQjlym8h-mbLPDc-h82oxwQNqEg3aIyMMFaoHwk9oBtPXHlLkA__"/></div>
            <div class="items"><img class="i4" src="https://s3-alpha-sig.figma.com/img/89ce/3167/14ea56c00ed6233dd4a8af13dd50db30?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kuffhIb~bxLsoSkWRWBvZ7~F-iwLYq8lsUGU~S8aDFptu-ixVv9y0APQs5XZ9UURn4Y7tA90TcSddP3hLCyLAegz-RlXepsart-wGSZI0KpU3dUglRL9IvyfdZB1mSaKuZqi4FdY8a7xN9tmuhCCMt7SivSg0hcB2t47ARnGDsEnnVYHy0WnbGMX8yq8lWlvciEvZhvSGkvU1mX-C7g0LF6c3jXA~hcdvkqe2ssT8-6SH50PBQHpTKYrb5184a0HIZTmt6XcXF2aPkbP2189Y-NWgwRrDXmrvNoTtq7TaCBBvSb-o8CvDymP8w46vIrWkZEf8yYsMFL-lvQ6eG~Xzg__"/></div>
            <div><i class="fa-solid fa-chevron-right"></i></div>
        </div>
        <div class="footer-2">
            <div class="footer-2-1">
                <div class="footer-2-1-1"><img src="/logo.png"></div>
                <div class="footer-2-1-2">
                    <div class="footer-2-1-2-1">
                        <div class="icon"><i class="fa-solid fa-phone"></i></div>
                        <div class="text">024 7307 3099 (Ban Kinh doanh & MKT: 7450)
                            <br/>Hotline: 098728 5533</div>
                    </div>
                    <div class="footer-2-1-2-1">
                        <div class="icon"><i class="fa-regular fa-envelope"></i></div>
                        <div class="text">marketing@tnsholdings.com.vn</div>
                    </div>
                    <div class="footer-2-1-2-1">
                        <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="text">Tầng 25, TNR Tower, 54A Nguyễn Chí Thanh, P.Láng Thượng, Q.Đống Đa, Hà Nội</div>
                    </div>
                </div>
            </div>
            <div class="footer-2-2"></div>
        </div>
      </footer>
    </div>
  </body>
</html>
